* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}


/* Background img */
.background img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

/* not logged user  */

.btn-container button { 
    width: 100px;
    margin: 5px;
}





/* Register and Login display */

.container-form{
    margin: auto;
    padding: 1em;
    width: 100%;
    background-color: rgba(72, 153, 203, 0.7);
    border-radius: 30px;
    max-width: 35rem;
}

.form {
    margin: 3rem auto;
    width: 30rem;
}

.form .form-row {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form .form-row:last-child{
    margin-bottom: 1;
}

.form input {
    padding: 0;
    width: 50%;
    border: 1px solid #bbb;
    display: block;
}

.form label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: bold ;
}

.submit-btn {
    width: 50%;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    margin-left: 15rem;

}




/* Dashboard display */

.login-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.logout-btn{
    width: 100px;
    margin: 5px;
}
.user-display {
    background-color: rgb(235, 229, 230);
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 2px;
    border-radius: 2px;
}


/* Transaction display  */

.transaction-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* opacity: 0.7; */
    max-width: 90%;
    max-height: 90%;
    margin-left: 5%;   
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #bbb;
}

.chart-section {
    height: 50%;
    width: 25%;
    flex: 1;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}


.transaction-section table {
    width: 100%;
    height: 50%;
    flex: 1;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 1%;
}








/* Responsive Design */

/* /* Ustawienie wyglądu tabeli transakcji dla widoku mobilnego */
@media only screen and (max-width: 768px) {
  .transactions-table {
    display: block;
  }
  .transactions-table th, .transactions-table td {
    display: block;
  }
}

/* Ustawienie wyglądu tabeli transakcji dla widoku desktopowego */
@media only screen and (min-width: 769px) {
  .transactions-table {
    display: table;
  }
  .transactions-table th, .transactions-table td {
    display: table-cell;
  }

} 

